<p id="notice"><%= notice %></p>

<table class="table table-responsive table-hover">
  <tbody>
    <% @links.each do |link| %>
      <% path = if link.origin == "google_places" then
        show_google_place_link_path(link.place_id)
      else
        link_path(link)
      end %>
      <tr data-href="<%= path %>">
        <td>
          <%= image_tag(link.icon, size: "40") %>
        </td>
        <td><%= auto_link(link.text) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '+', new_link_path, class: "btn btn-default" %>
