<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= auto_link(link.text) %></td>
        <% if link.origin == "google_places" then %>
          <td><%= link_to "Show", show_google_place_link_path(link.place_id), class: "btn btn-default" %></td>
          <td></td>
          <td></td>
        <% else %>
          <td><%= link_to 'Show', link, class: "btn btn-default" %></td>
          <td><%= link_to 'Edit', edit_link_path(link), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path, class: "btn btn-default" %>
